
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 55%;
  margin: auto;
}
.navbar {
  margin-bottom: 0;
}
footer{
  background-color: black;
  color: rgb(238, 238, 238);
  padding: 15px;
}
